<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JM Gelilio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/id.jpg') }}">
  </head>
  <body>
  <section class="section has-text-centered">
    <figure class="image container is-128x128">
        <img class="is-rounded" src="{{ url_for('static', filename='images/id.jpg') }}">
    </figure> 
    <p class="title is-1">John Michael Gelilio</p>
    <p class="subtitle is-3">@jmgelilio</p>
    <p class="button is-info is-outlined is-rounded">Contact</p>
    <p class="button is-danger is-outlined is-rounded">Youtube</p>
  </section>
  <section class="columns">
    <div class="column is-three-fifths is-offset-one-fifth has-background-light">
        <div class="columns is-gapless">
            <div class="column is=half">
                <div class="card m-3">
                    <div class="card-content">
                        <h1>About</h1>
                        <p>About me...</p>
                    </div>
                </div>
                <div class="card m-3 has-background-link-light">
                    <div class="card-content">
                        <h1>Interest</h1>
                        <p>Interest...</p>
                    </div>
                </div>
            </div>
            <div class="column is=half">
                <div class="card m-3 has-background-primary-light">
                    <div class="card-content">
                        <h1>Experience</h1>
                        <p>Experience...</p>
                    </div>
                </div>
                <div class="card m-3 has-background-warning-light">
                    <div class="card-content">
                        <h1>Education</h1>
                        <p>Education...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  </body>
</html>