<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JM Gelilio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/id.jpg') }}">
  </head>
  <body>
  <section class="section has-text-centered">
    <figure class="image container is-128x128">
        <img class="is-rounded" src="{{ url_for('static', filename='images/id.jpg') }}">
    </figure> 
    <p class="title is-1">John Michael Gelilio</p>
    <p class="subtitle is-3">@jmgelilio</p>
  </section>
  </body>
</html>